* {
    font-family: Arial;
    margin: auto;
}

body {
    display: block;
}

#root {
    position: relative;
    height: 100vh;
    width: 100%;
}

#root img {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -100;
}

#root::before {
    position: fixed;
    content: "";
    height: 100%;
    width: 100%;
    z-index: -99;
    background-color: rgba(255, 255, 255, 0.123);
}

#main1 {
    background-color: rgb(240, 248, 255);
    width: 50%;
    padding: 10px;
}

input {
    text-align: center;
    display: block;
    margin: 20px;
}

#CalculButton {
    border-radius: 3px;
    width: 100px;
    height: 25px;
    border: none;
    background-color: rgba(33, 66, 108, 0.318);
    transition-duration: 200ms;
}

#CalculButton:hover {
    background-color: rgb(240, 248, 255);
    border-radius: 0;
    border-top: 2px solid rgba(33, 66, 108);
    border-bottom: 2px solid rgba(33, 66, 108);
}

#CalculButton:active {
    transform: translate(0px, 2px);
}

#MyXP:invalid {
    border: 1px red solid;
    border-radius: 5px;
}

#MyXP:valid {
    border: 1px green solid;
    border-radius: 5px;
}

#Goal:invalid {
    border: 1px red solid;
    border-radius: 5px;
}

#Goal:valid {
    border: 1px green solid;
    border-radius: 5px;
}

#head {
    border-bottom: 2px solid rgb(33, 66, 108);
    margin: 10px;
}

#main {
    animation: pump 1s;
}

@keyframes pump {
    from {
        margin-top: 100%;
    }
    50% {
        margin-top: 75%;
    }
    to {
        margin-top: 0%;
    }
}

ul {
    margin: 10px;
}

li {
    display: inline;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: rgb(33, 66, 108);
    transition-duration: 100ms;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

a:hover {
    color: brown;
    padding-bottom: 2px;
    border-bottom: 2px solid brown;
}

#SITE68 {
    margin-top: 500px;
    font-size: 10px;
}

.emunderline {
    text-decoration: underline;
}

.emred {
    color: red;
}

.seperate {
    border-bottom: 2px rgb(33, 66, 108) solid;
    padding-top: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Fenetre popup */

#blur {
    position: fixed;
    content: "";
    z-index: 99;
    width: 110%;
    height: 110%;
    background-color: rgba(53, 53, 53, 0.73);
}

#popup {
    position: absolute;
    z-index: 100;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 300px;
    text-align: center;
    padding-top: 10px;
    top: -300px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-duration: 500ms;
}

#popup input {
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 80px;
    background-color: rgb(78, 255, 99);
    width: 200px;
    height: 50px;
}

#popup h1 {
    margin-bottom: 20px;
}

#popup h1::before,
#popup h1::after {
    content: "❗";
    margin-left: 50px;
    margin-right: 50px;
}

#popup p {
    margin-top: 70px;
}
