* {
    font-family: Arial;
    margin: auto;
}

body {
    display: block;
    color: #fffefe;
}

#root {
    position: relative;
    height: 100vh;
    width: 100%;
}

#root img {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -100;
}

#root::before {
    position: fixed;
    content: "";
    height: 100%;
    width: 100%;
    z-index: -99;
    background-color: rgba(255, 255, 255, 0.123);
}

#main1 {
    background-color: #353534;
    width: 50%;
    padding: 10px;
    border-left: #04a6cc solid 5px;
    border-right: #04a6cc solid 5px;
}

input {
    text-align: center;
    display: block;
    margin: 20px;
}

#CalculButton {
    position: relative;
    color: #fffefe;
    width: 100px;
    height: 25px;
    border: none;
    background: -webkit-linear-gradient(transparent 50%, #04a6cc 50%);
    background-size: 200px 160px;
    transition: 500ms;
    border-bottom: #04a6cc 1px solid;
    cursor: pointer;
}

#CalculButton:hover {
    background-position: 0 -80px;
}

#CalculButton:active {
    transform: translateY(2px);
}

#MyXP:invalid {
    border: 1px red solid;
    border-radius: 5px;
}

#MyXP:valid {
    border: 1px green solid;
    border-radius: 5px;
}

#Goal:invalid {
    border: 1px red solid;
    border-radius: 5px;
}

#Goal:valid {
    border: 1px green solid;
    border-radius: 5px;
}

#head {
    border-bottom: 2px solid #fffefe;
    margin: 10px;
}

#main {
    animation: pump 1s;
}

@keyframes pump {
    from {
        margin-top: 100%;
    }
    50% {
        margin-top: 75%;
    }
    to {
        margin-top: 0%;
    }
}

ul {
    margin: 10px;
}

li {
    display: inline;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #fffefe;
    transition-duration: 100ms;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

a:hover {
    color: brown;
    padding-bottom: 2px;
    border-bottom: 2px solid brown;
}

#SITE68 {
    margin-top: 500px;
    font-size: 10px;
}

.emunderline {
    text-decoration: underline;
}

.emred {
    color: red;
}

.seperate {
    border-bottom: 2px #fffefe solid;
    padding-top: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Fenetre popup */

#blur {
    position: fixed;
    content: "";
    z-index: 99;
    width: 110%;
    height: 110%;
    background-color: rgba(53, 53, 53, 0.73);
}

#popup {
    display: inline;
    position: fixed;
    z-index: 100;
    border-radius: 3px;
    background-color: #353534;
    width: 500px;
    height: 300px;
    text-align: center;
    padding-top: 10px;
    top: -300px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 1000ms;
    border: #04a6cc solid 3px;
}

#popup input {
    position: relative;
    border: none;
    font-size: 30px;
    text-align: center;
    margin-top: 60px;
    width: 200px;
    height: 50px;
    color: #fffefe;
    background: -webkit-linear-gradient(transparent 50%, #04a6cc 50%);
    background-size: 200px 160px;
    transition: 500ms;
    border-bottom: #04a6cc 1px solid;
}

#popup input:hover {
    background-position: 0 -80px;
}

#popup input:active {
    transform: translateY(10px);
}

#popup h1 {
    position: relative;
    margin-bottom: 20px;
}

#popup h1::before,
#popup h1::after {
    content: "❗";
    margin-left: 50px;
    margin-right: 50px;
}

#popup p {
    position: relative;
    margin-top: 70px;
    margin-right: 50px;
    margin-left: 50px;
}
