* {
    font-family: Arial;
    margin: auto;
}

body {
    display: block;
}

#root {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#root img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -100;
}

#root::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    z-index: -99;
    background-color: rgba(255, 255, 255, 0.123);
}

#main1 {
    background-color: rgb(240, 248, 255);
    width: 50%;
    padding: 10px;
    height: 100%;
}

input {
    text-align: center;
    display: block;
    margin: 20px;
}

#CalculButton {
    border-radius: 3px;
    width: 100px;
    height: 25px;
    border: none;
    background-color: rgba(33, 66, 108, 0.318);
    transition-duration: 200ms;
}

#CalculButton:hover {
    background-color: rgb(240, 248, 255);
    border-radius: 0;
    border-top: 2px solid rgba(33, 66, 108);
    border-bottom: 2px solid rgba(33, 66, 108);
}

#CalculButton:active {
    transform: translate(0px, 2px);
}

#MyXP:invalid {
    border: 1px red solid;
    border-radius: 5px;
}

#MyXP:valid {
    border: 1px green solid;
    border-radius: 5px;
}

#Goal:invalid {
    border: 1px red solid;
    border-radius: 5px;
}

#Goal:valid {
    border: 1px green solid;
    border-radius: 5px;
}

#head {
    border-bottom: 2px solid rgb(33, 66, 108);
    margin: 10px;
}

#main {
    animation: pump 1s;
}

@keyframes pump {
    from {
        margin-top: 100%;
    }
    50% {
        margin-top: 75%;
    }
    to {
        margin-top: 0%;
    }
}

ul {
    margin: 10px;
}

li {
    display: inline;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: rgb(33, 66, 108);
    transition-duration: 100ms;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

a:hover {
    color: brown;
    padding-bottom: 2px;
    border-bottom: 2px solid brown;
}

#SITE68 {
    margin-top: 18%;
}

.emunderline {
    text-decoration: underline;
}

.emred {
    color: red;
}

.seperate {
    border-bottom: 2px rgb(33, 66, 108) solid;
    padding-top: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
